## INTRODUCTION

This dataset gives us a brief description about the california housing data.By analysing this california house dataset we will determine the approximate price for the houses.The main aim of this dataset is to predict the median house prices for california.This dataset consists of the following features are as follows:

### FEATURES:

1.longitude:A measure of distance a house is located horizontally that is from west to east,a higher value is further towards west.Statistically it comes under numerical data type, i.e.,Continuous data.

2.latitude:A measure of distance a house is located vertically that is towards north,a higher value is further towards north.Statistically it comes under numerical data type, i.e.,Continuous data

3.housing_median_age:It is Median age of a house.Statistically it is of quantitative datatype,i.e.,Continuous data.

4.total_rooms:Total number of rooms within a block.Statistically it is of quantitative data type,i.e.,discrete data.

5.total_bedrooms:Total number of bedrooms within a block.Statistically it is of quantitative data type,i.e.,discrete data.

6.population:Total number of people residing within a block.Statistically it is of quantitative data type,i.e.,discrete data.

7.households:Total number of households,a group of people residing within a homeunit.Statistically it is of quantitative data type,i.e.,discrete data.

8.median_income:Median income of households within a block of houses.(measured in tens of thousands of US Dollars).It comes under continuous data.

9.median_house_value:Median house value for households within a block(measured in US Dollars).It comes under continuous data.

10.Ocean_proximity:Location of the house with respect to ocean.Statistically it is of categorical data i.e.,it is of nominal data type.

In [27]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [35]:
data = pd.read_csv("housing.csv")

In [36]:
data.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.23,37.88,41,880,129.0,322,126,8.3252,452600,NEAR BAY
1,-122.22,37.86,21,7099,1106.0,2401,1138,8.3014,358500,NEAR BAY
2,-122.24,37.85,52,1467,190.0,496,177,7.2574,352100,NEAR BAY
3,-122.25,37.85,52,1274,235.0,558,219,5.6431,341300,NEAR BAY
4,-122.25,37.85,52,1627,280.0,565,259,3.8462,342200,NEAR BAY

In [38]:
data.shape

(20640, 10)

In [43]:
data.info

<bound method DataFrame.info of        longitude  latitude  housing_median_age  total_rooms  total_bedrooms  \
0        -122.23     37.88                  41          880           129.0
1        -122.22     37.86                  21         7099          1106.0
2        -122.24     37.85                  52         1467           190.0
3        -122.25     37.85                  52         1274           235.0
4        -122.25     37.85                  52         1627           280.0
...          ...       ...                 ...          ...             ...
20635    -121.09     39.48                  25         1665           374.0
20636    -121.21     39.49                  18          697           150.0
20637    -121.22     39.43                  17         2254           485.0
20638    -121.32     39.43                  18         1860           409.0
20639    -121.24     39.37                  16         2785           616.0

       population  households  median_income  median_house_value  \
0             322         126         8.3252              452600
1            2401        1138         8.3014              358500
2             496         177         7.2574              352100
3             558         219         5.6431              341300
4             565         259         3.8462              342200
...           ...         ...            ...                 ...
20635         845         330         1.5603               78100
20636         356         114         2.5568               77100
20637        1007         433         1.7000               92300
20638         741         349         1.8672               84700
20639        1387         530         2.3886               89400

      ocean_proximity
0            NEAR BAY
1            NEAR BAY
2            NEAR BAY
3            NEAR BAY
4            NEAR BAY
...               ...
20635          INLAND
20636          INLAND
20637          INLAND
20638          INLAND
20639          INLAND

[20640 rows x 10 columns]>

1. What is the average median income of the data set and check the distribution of data using appropriate plots. Please explain the distribution of the plot.

In [45]:
data['median_income'].mean()  # mean() is used to find the average of a column

3.8706710029070246